.property-submit-form form h4 {
  color: #252525;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.property-submit-form form input {
  height: 46px;
  width: 100%;
  background: transparent;
  color: #666666;
  padding-left: 20px;
  font-size: 14px;
  border: none;
  border: 1px solid #e1e1e1;
}
.property-submit-form form input::placeholder {
  color: #666666;
}
.property-submit-form form .pf-title {
  margin-bottom: 75px;
}
.property-submit-form form .pf-title input {
  padding-left: 30px;
}

.property-submit-form form .pf-location {
  margin-bottom: 45px;
}
.property-submit-form form .pf-location .location-inputs {
  margin-right: -20px;
  overflow: hidden;
}
.property-submit-form form .pf-location .location-inputs input {
  width: calc(33.33% - 20px);
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.property-submit-form form .pf-type {
  margin-bottom: 60px;
}
.property-submit-form form .pf-type .type-item {
  overflow: hidden;
}
.property-submit-form form .pf-type .type-item label {
  font-size: 14px;
  color: #666666;
  font-weight: 500;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  float: left;
  margin-bottom: 10px;
  margin-right: 130px;
}
.property-submit-form form .pf-type .type-item label:last-child {
  margin-right: 0;
}
.property-submit-form form .pf-type .type-item label .checkbox {
  position: absolute;
  left: 0;
  top: 4px;
  width: 12px;
  height: 12px;
  border: 1px solid #666666;
  border-radius: 2px;
  content: "";
}
.property-submit-form form .pf-type .type-item label input {
  position: absolute;
  visibility: hidden;
}
.property-submit-form form .pf-type .type-item label input:checked ~ span {
  background: #666666;
}
.property-submit-form form .pf-status {
  margin-bottom: 60px;
}
.property-submit-form form .pf-status .status-item label {
  font-size: 14px;
  color: #666666;
  font-weight: 500;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 130px;
}
.property-submit-form form .pf-status .status-item label:last-child {
  margin-right: 0;
}
.property-submit-form form .pf-status .status-item label .checkbox {
  position: absolute;
  left: 0;
  top: 4px;
  width: 12px;
  height: 12px;
  border: 1px solid #666666;
  border-radius: 2px;
  content: "";
}
.property-submit-form form .pf-status .status-item label input {
  position: absolute;
  visibility: hidden;
}
.property-submit-form form .pf-status .status-item label input:checked ~ span {
  background: #666666;
}
.property-submit-form form .pf-feature-price {
  margin-bottom: 55px;
}
.property-submit-form form .pf-feature-price .fp-inputs {
  margin-right: -20px;
  overflow: hidden;
}
.property-submit-form form .pf-feature-price .fp-inputs input {
  width: calc(33.33% - 20px);
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.property-submit-form form .pf-feature {
  margin-bottom: 50px;
}
.property-submit-form form .pf-feature .features-list {
  overflow: hidden;
}
.property-submit-form form .pf-feature .features-list .feature-item {
  width: 25%;
  float: left;
}
.property-submit-form form .pf-feature .features-list .feature-item label {
  font-size: 14px;
  color: #666666;
  font-weight: 500;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
}
.property-submit-form form .pf-feature .features-list .feature-item label:last-child {
  margin-right: 0;
}
.property-submit-form form .pf-feature .features-list .feature-item label .checkbox {
  position: absolute;
  left: 0;
  top: 4px;
  width: 12px;
  height: 12px;
  border: 1px solid #666666;
  border-radius: 2px;
  content: "";
}
.property-submit-form form .pf-feature .features-list .feature-item label input {
  position: absolute;
  visibility: hidden;
}
.property-submit-form form .pf-feature .features-list .feature-item label input:checked ~ span {
  background: #666666;
}
.property-submit-form form .pf-feature-image {
  margin-bottom: 75px;
}
.property-submit-form form .pf-feature-image .feature-image-content {
  background: #f5f5f5;
  position: relative;
}
.property-submit-form form .pf-feature-image .feature-image-content .image-uploader {
  min-height: 13rem;
}
.property-submit-form form .pf-feature-image .feature-image-content .image-uploader .uploaded .uploaded-image .delete-image i {
  font-size: 15px;
}
.property-submit-form form .pf-feature-image .feature-image-content .upload-input-class {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  z-index: -999;
}
.property-submit-form form .pf-feature-image .feature-image-content p {
  margin-bottom: 20px;
}
.property-submit-form form .pf-feature-image .feature-image-content p i {
  margin-right: 5px;
}
.property-submit-form form .pf-feature-image .feature-image-content div {
  font-size: 14px;
  color: #666666;
  margin-bottom: 25px;
}
.property-submit-form form .pf-property-details .property-details-inputs {
  margin-right: -20px;
  overflow: hidden;
}
.property-submit-form form .pf-property-details .property-details-inputs input {
  width: calc(33.33% - 20px);
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.property-submit-form form .pf-property-details button {
  width: 100%;
}



